/* @TRANSITIONS */
.btn {
  transition:
    background-color 0.4s ease,
    color 0.2s ease,
    transform 0.25s ease,
    box-shadow 0.2s ease,
    border-color 0.2s ease,
    opacity 0.3s ease;
}

html,
body {
  transition:
    background-color 0.4s ease,
    color 0.4s ease;
}

button,
input,
header,
.main-control,
nav {
  transition:
    background-color 0.4s ease,
    color 0.4s ease,
    border-color 0.4s ease,
    box-shadow 0.4s ease;
}


.tab-content.hidden {
    display: none;
}

.tab-content:not(.hidden) {
    animation: fadeIn 0.4s ease forwards;
}


.book-grid {
   transition: opacity 0.3s ease;
}

.new-book {
  transition:
    background-color 0.4s ease,
    color 0.4s ease,
    border-color 0.4s ease,
    transform 0.2s ease,
    box-shadow 0.2s ease;
  cursor: pointer;
}

.new-book_title,
.new-book_author,
.tag-age,
.tag-series,
.tag-genre,
.tag-trope,
.new-book_status,
.new-book_stars,
.new-book_no-cover,
.border_nav, .btn_add-book, .btn_change-theme, .btn_login-register, .btn_random-book, .filter-select,
.search_filter, .btn_login {
  transition:
    background-color 0.4s ease,
    color 0.4s ease,
    border-color 0.4s ease,
    transform 0.2s ease;
}

.search_label, .bi-pencil, .eye-toggle {
  transition:
    color 0.4s ease
}

.star-btn {
  transition:
    transform 0.15s ease,
    color 0.15s ease;
}

/* @BINDINGS */
.book-rating_group {
  animation: rating-in 0.3s ease;
}

.genre-btn,
.trope-btn {
  animation: tag-in 0.2s ease;
}

/* @KEYFRAMES */
@keyframes tag-in {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes rating-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(5px); }
    to { opacity: 1; transform: translateY(0); }
}
